{% extends "layout.html" %}
{% block body %}
  <div class="starter-template">
    <h1>{{ request.path }}
    <h1>Chocobros FFTCG site</h1>
    <p>
      Welcome to Chocobros! This site contains a simple search bar for FFTCG cards
      but there should be more to come in the future so stay tuned!
    </p>
    <form action="{{ url_for('home') }}" method=post>
      <input type=text name=card_name placeholder="Card name here...">
      <input type=submit value=search>
    </form>
    <h3>Coming soon...</h3>
    <ul class="list-group">
      <li class="list-group-item">Deck building</li>
      <li class="list-group-item">User accounts with a 2FA option</li>
      <li class="list-group-item">Blog/deck spotlights</li>
      <li class="list-group-item">More advanced searching</li>
    </ul>
    <p>
      If you'd like to contribute to this site at all, you can do so at
      <a href="https://github.com/insacuri/chocobros">https://github.com/insacuri/chocobros</a>
    <p>
  </div>
{% endblock %}
