{% extends "layout.html" %}
{% block body %}
<div class="starter-template">
  <h1>Search result</h1>
  <form action="{{ url_for('search') }}" method=get>
    <input type=text name=name placeholder="Card name here...">
    <input type=submit value=search>
  </form>
</br>
  {% for card in results %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ card.name }}</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tbody>
          <tr>
            <th style="border-top: none;">Cost</th>
            <td style="border-top: none;">{{ card.cost }}</td>
          </tr>
          <tr>
            <th>Element</th>
            <td>{{ card.element }}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{ card.type }}</td>
          </tr>
          <tr>
            <th>Job</th>
            <td>{{ card.job }}</td>
          </tr>
          <tr>
            <th>Category</th>
            <td>{{ card.category}}</td>
          </tr>
          <tr>
            <th>Card Text</th>
            {% autoescape false %}
            <td><p>{{ card.text }}</td>
            {% endautoescape %}
            </tr>
            <tr>
              <th>Power</th>
              <td>{{ card.power }}</td>
            </tr>
            <tr>
              <th>Rarity</th>
              <td>{{ card.rarity }}</td>
            </tr>
            <tr>
              <th>Card Number</th>
              <td>{{ card.set }}-{{ card.number}}-{{ card.rarity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
